<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
    OP stackoverflow viewer
    </div>    
  </div>    
  <div class="row">
    <div class="col">    
    <input type="string" (keydown.enter)="doSearch(srchInput.value.trim())"  #srchInput />
    <button (click)="doSearch(srchInput.value.trim())">Search</button>
    </div>
  </div>
  <div *ngIf="(obs$ | async) as itemsArr">

    <div class="row">
      <div class="col-4">
        <div class="item-title" (click)="setSelected(item)" *ngFor="let item of itemsArr">
          <div  [attr.title]="item.title" [innerHTML]="item.title"></div>
        </div>
      </div>
      <div class="col-8" >
        <div *ngIf="selItem">    
            <div>
                <span class="sub-hdr">View Count:</span>
                <span>{{selItem.view_count}}</span>
            </div>
            <div>
                <span class="sub-hdr">Score:</span>
                <span>{{selItem.score}}</span>
            </div>
            <div>
                <span class="sub-hdr">Link:</span>
                <span></span><span><a [attr.href]="selItem.link">{{selItem.link}}</a></span>  
            </div> 
        </div>
      </div>
    </div>
      

</div> 
</div>